vim-bufkill
vim-commandt
vim-conque
vim-cscope
vim-fswitch
vim-fugitive
vim-fuzzyfinder
vim-git
vim-gtags
vim-gundo
vim-indexer
vim-l9
vim-latex
vim-matlab
vim-mwutils
vim-nerdtree
vim-orgmode
vim-project
vim-protodef
vim-sbt
vim-signs
vim-solarized
vim-surround
vim-tagbar
vim-tcomment
vim-unimpaired
vim-xptemplate
*.swp
.netrwhist
passwords.vim
